@charset "UTF-8";
/* VARIABLES/IMPORTS KURAMA */
/*RESET DE DOCUMENTO*/
@import url(https://fonts.googleapis.com/css2?family=Croissant+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap);
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  max-width: 100%;
}

/*ESTILOS HEADER BOOTSTRAP*/
.navbar__logo {
  width: 120px;
  height: 120px;
}

#navbarNav {
  font-family: "Bebas Neue";
  font-size: 40px;
}

.navbar {
  background-color: rgb(255, 123, 0);
  color: rgb(255, 123, 0);
}

.nav-item {
  text-align: right;
}

/*MAIN PRODUCTOS*/
.productosGrid {
  display: grid;
  grid-template-columns: repeat(3, 400px); /* 3 columnas del mismo tamaño */
  grid-template-rows: 600px 400px; /* 2 filas automáticas */
  grid-template-areas: "imgFun . imgCua" "imgInd imgLla imgLla";
  gap: 15px; /* Espacio entre elementos */
  justify-content: center;
  margin-top: 100px;
  position: relative;
}

.imgFun {
  grid-area: imgFun;
  width: 400px;
  height: 600px;
}

.imgCua {
  grid-area: imgCua;
  width: 400px;
  height: 600px;
}

.imgInd {
  grid-area: imgInd;
  width: 400px;
  height: 400px;
}

.imgLla {
  grid-area: imgLla;
  width: 815px;
  height: 400px;
}

.imgFun:hover, .imgCua:hover, .imgLla:hover, .imgInd:hover {
  box-shadow: 10px 10px rgb(255, 123, 0);
  transition: 1s;
}

/*MAIN PREGUNTAS FRECUENTES*/
.pregFrec {
  flex-wrap: wrap;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Pacifico";
  font-size: 70px;
  text-shadow: 7px 7px #a251ff;
}

.faq-container {
  display: flex; /* Usar flexbox para organizar columnas */
  max-width: 1500px; /* Ancho máximo del contenedor */
  margin: auto; /* Centrar el contenedor en la página */
}

.faq-preguntas {
  flex: 1; /* Ocupa espacio en la columna izquierda */
  margin-right: 20px; /* Espacio entre las preguntas y las respuestas */
}

.lista-preguntas {
  display: flex;
  text-align: center;
  flex-direction: column; /* Colocar elementos en columna */
  gap: 10px; /* Espacio entre filas */
  padding: 20px; /* Espaciado interno */
  border: 2px solid #333; /* Borde exterior */
  border-radius: 5px; /* Bordes redondeados */
  background-color: white; /* Fondo blanco para el contenedor */
}

.item-pregunta {
  background-color: #f9f9f9; /* Color de fondo para cada fila */
  color: #333; /* Color del texto */
  padding: 15px; /* Espaciado interno */
  border: 1px solid #ccc; /* Borde interno */
  border-radius: 3px; /* Bordes redondeados para filas */
  transition: background-color 0.3s; /* Efecto de transición */
}

.item-pregunta:hover {
  background-color: #e0e0e0; /* Color de fondo al pasar el ratón */
}

.item-pregunta a {
  text-decoration: none;
  color: inherit; /*Heredar color del texto*/
}

.faq-respuestas {
  flex: 2; /*Ocupa más espacio en la columna derecha*/
  padding: 20px; /*Espaciado interno*/
}

.respuesta {
  margin-bottom: 20px; /*Espacio entre respuestas*/
}

.respuesta p {
  margin: 5px 0 0; /*Espaciado para el texto de la respuesta*/
}

/*MAIN REDES Y CONTACTO*/
/*ESTILOS FORMULARIO*/
/* Centrar el formulario */
.formulario-contacto {
  max-width: 400px; /* Ancho máximo */
  margin: 20px auto; /* Margen superior de 20px, centrado horizontalmente */
  padding: 20px; /* Espaciado interno */
  border: 2px solid rgb(255, 136, 0); /* Marco naranja */
  border-radius: 12px; /* Bordes redondeados */
  background-color: #f9f9f9; /* Color de fondo */
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.2); /*Sombreado en la parte de abajo y derecha*/
}

/*ESTILOS FIELDSET*/
.fieldset-formulario {
  border: none; /* Sin borde */
}

/*ESTILOS INPUTS Y SELECT*/
.input-formulario, .select-producto {
  width: 100%; /* Ancho completo */
  padding: 10px; /* Espaciado interno */
  margin-bottom: 15px; /* Espacio entre campos */
  border: 1px solid #ffb87e; /* Borde */
  border-radius: 4px; /* Bordes redondeados */
  font-size: 16px; /* Tamaño de fuente */
}

/*CONTENEDOR BOTONES*/
.boton-container {
  display: flex; /* Alinea los botones */
  justify-content: flex-end; /* Alinea los botones a la derecha */
}

/*ESTILOS BOTONES*/
.boton-formulario {
  background-color: rgb(98, 0, 255);
  color: white;
  padding: 10px 15px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 20px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  font-size: 16px; /* Tamaño de fuente */
  margin-left: 10px; /* Espacio entre botones */
}

/*PASAR EL MOUSE SOBRE EL BOTON*/
.boton-formulario:hover {
  background-color: rgb(144, 97, 219); /* Color de fondo al pasar el ratón */
}

/*FOOTER*/
#footer {
  width: 100%;
  background-color: rgb(255, 123, 0);
  margin-top: 100px;
}
#footer ul li a {
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: black;
  margin: 0;
  padding: 0;
}
#footer .email {
  display: flex;
  justify-content: center;
}
#footer .copyright {
  display: flex;
  justify-content: center;
  margin: 0;
}
#footer .iconsFooter {
  display: flex;
  justify-content: center;
}
#footer .iconsFooter .logoIg, #footer .iconsFooter .logoWsp, #footer .iconsFooter .logoFb {
  width: 50px;
}
#footer .iconsFooter .logoTiktok {
  width: 70px;
}
#footer .iconsFooter .logoWsp {
  margin-left: 10px;
}

/*MAIN INDEX-INICIO*/
#main {
  width: 100%;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
#main .banner {
  position: relative;
  width: 100%;
  height: 50vh; /*alto deseado*/
  overflow: hidden; /*asegurar que no se salga de los bordes*/
  margin-bottom: 0;
}
#main .banner .banner-img {
  width: 100%; /*banner ocupa todo el ancho*/
  height: auto; /*mantiene la proporción*/
  position: absolute; /*mover la imagen dentro del banner*/
  top: -300px; /*este valor me permite recortar el banner por arriba*/
  left: 50%; /*Centra horizontalmente*/
  transform: translateX(-50%); /*Ajusta el centrado*/
  object-fit: cover; /*Asegura que la imagen se ajuste bien*/
}
#main .banner .imagen-redonda {
  position: absolute; /*permite posicionar la imagen en relación al banner*/
  top: 50%; /*Coloca la imagen en el centro vertical*/
  left: 15%; /* Coloca la imagen a la altura horizontal deseada*/
  transform: translate(-50%, -50%); /* Ajusta la posición para que esté perfectamente centrada */
  width: 300px; /*tamaño de la imagen*/
  height: 300px;
  border-radius: 50%; /*Hace que la imagen sea redonda*/
  object-fit: cover; /*Asegura que la imagen se ajuste bien dentro del contenedor*/
  border: 5px black solid;
}
#main h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 35px;
  margin-top: 50px;
  margin-bottom: 100px;
  font-family: "Pacifico";
}
#main p {
  display: flex;
  flex-wrap: wrap;
  font-size: 25px;
  text-align: center;
  max-width: 800px; /* Ancho máximo del texto */
  margin: 0 auto; /* Centra el contenedor */
  text-align: center; /* Centra el texto dentro del contenedor */
  line-height: 1.6; /* Espaciado entre líneas */
  font-family: "Comic Neue";
  margin-bottom: 20px;
}

.gridNaruto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridNaruto {
  display: grid;
  grid-template-columns: 300px 400px 300px;
}

.gridNaruto .img1 {
  max-width: 300px;
  height: auto;
}

.gridNaruto .img2 {
  width: 400px;
  max-height: auto;
}

.gridNaruto .img3 {
  width: 300px;
  max-height: 300px;
}

/*Responsive banner e img index Naruto*/
@media (max-width: 1650px) {
  .banner-img {
    width: 100%; /*banner ocupa todo el ancho*/
    height: auto; /*mantiene la proporción*/
    position: absolute; /*mover la imagen dentro del banner*/
    top: -170px; /*este valor me permite recortar el banner por arriba*/
    left: 50%; /*Centra horizontalmente*/
    transform: translateX(-50%); /*Ajusta el centrado*/
    object-fit: cover; /*Asegura que la imagen se ajuste bien*/
  }
}
@media (max-width: 1300px) {
  .banner-img {
    width: 100%; /*banner ocupa todo el ancho*/
    height: auto; /*mantiene la proporción*/
    position: absolute; /*mover la imagen dentro del banner*/
    top: -100px; /*este valor me permite recortar el banner por arriba*/
    left: 50%; /*Centra horizontalmente*/
    transform: translateX(-50%); /*Ajusta el centrado*/
    object-fit: cover; /*Asegura que la imagen se ajuste bien*/
  }
}
@media (max-width: 750px) {
  .banner-img {
    width: 100%; /*banner ocupa todo el ancho*/
    height: auto; /*mantiene la proporción*/
    position: absolute; /*mover la imagen dentro del banner*/
    top: -100px; /*este valor me permite recortar el banner por arriba*/
    left: 50%; /*Centra horizontalmente*/
    transform: translateX(-50%); /*Ajusta el centrado*/
    object-fit: cover; /*Asegura que la imagen se ajuste bien*/
  }
}
@media (max-width: 1100px) {
  .imagen-redonda {
    position: relative; /* Cambia a relativo para que se mueva con el flujo del documento */
    top: auto; /* Elimina el desplazamiento vertical */
    left: 50%; /* Mantiene la posición horizontal */
    transform: translate(-50%, 0); /* Centra horizontalmente */
    margin-top: 150px; /* Ajusta para que se coloque por debajo del banner */
  }
}
@media (max-width: 600px) {
  .imagen-redonda {
    position: relative; /* Cambia a relativo para que se mueva con el flujo del documento */
    top: auto; /* Elimina el desplazamiento vertical */
    left: 50%; /* Mantiene la posición horizontal */
    transform: translate(-50%, 0); /* Centra horizontalmente */
    margin-top: 150px; /* Ajusta para que se coloque por debajo del banner */
    width: 250px; /*tamaño de la imagen*/
    height: 250px;
  }
}
/*Responsive grilla de index Naruto*/
@media (max-width: 1000px) {
  .img2 {
    display: none;
  }
  .gridNaruto {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-areas: "img1 img3";
  }
  .gridNaruto .img1 {
    max-width: 200px;
    height: auto;
  }
  .gridNaruto .img3 {
    width: 200px;
    max-height: 200px;
  }
}
@media (max-width: 410px) {
  .img2 {
    display: none;
  }
  .gridNaruto {
    display: grid;
    grid-template-columns: 150px 150px;
  }
  .gridNaruto .img1 {
    max-width: 150px;
    height: 150px;
  }
  .gridNaruto .img3 {
    width: 150px;
    max-height: 150px;
  }
}
/*RESPONSIVO PREGUNTAS FRECUENTES*/
@media (max-width: 1550px) {
  .faq-container {
    display: flex;
    max-width: 1300px;
    margin: auto;
  }
}
@media (max-width: 1350px) {
  .faq-container {
    display: flex;
    max-width: 1100px;
    margin: auto;
  }
}
@media (max-width: 1150px) {
  .faq-container {
    display: flex;
    max-width: 900px;
    margin: auto;
  }
}
@media (max-width: 950px) {
  .faq-container {
    flex-direction: column; /* Cambiar a columna */
  }
  .faq-preguntas {
    order: 1; /* Poner la caja de preguntas en la parte superior */
    margin-bottom: 20px;
    margin-left: auto; /* Centrar horizontalmente */
    margin-right: auto; /* Centrar horizontalmente */
    max-width: 90%; /* Ancho máximo para que no ocupe toda la pantalla */
  }
  .faq-respuestas {
    order: 2; /* Mantener la caja de respuestas debajo */
  }
  .lista-preguntas {
    width: 480px;
  }
}
/*FONTS, FUENTES, TIPOGRAFÍAS*/

/*# sourceMappingURL=style.css.map */
