/* VARIABLES/IMPORTS KURAMA */

$color-principal: rgb(255, 123, 0);
$color-secundario: #a251ff;
$color: green;


@import "presets/reset";
@import "presets/header";
@import "presets/main";
@import "presets/footer";
@import "presets/index";
@import "presets/queries";

/*FONTS, FUENTES, TIPOGRAFÍAS*/
@import url(https://fonts.googleapis.com/css2?family=Croissant+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap);












