/*FOOTER*/
#footer {
    width: 100%;
    background-color: $color-principal;
    margin-top: 100px;
    ul {
        padding-left: 0px;
        li {
            a {
                display: flex;
                justify-content: center;
                font-size: 25px;
                color: $color-texto;
                margin-top: 0;
                margin-bottom: 0; /* Elimina el margen inferior */
                padding: 0;
            }
        }
    }
    
    .email {
        p{
            margin-bottom: 0px;
            color: $color-texto;
        }
        display: flex;
        justify-content: center;
    }
    .copyright {
        display: flex;
        justify-content: center;
        color: $color-texto;
        margin: 0;
    }
    .iconsFooter { 
        display: flex;
        justify-content: center;
        gap: 10px;
        .logoIg , .logoWsp , .logoFb {
            width: 50px;
        }
        .logoTiktok { 
            width: 52px;
        }
        .logoWsp { 
            margin-left: 0px;
        }
    }
}