/*ESTILOS HEADER BOOTSTRAP*/
.navbar__logo {
    width: 120px;
    height: 120px;
}
#navbarNav {
    font-family: "Bebas Neue";
    font-size: 40px;
}
.navbar {
    background-color: $color-principal;
    color: $color-principal;
}
.nav-item {
    text-align: right;
}