/*MAIN INDEX-INICIO*/
#main {          
    width: 100%;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
        .banner{
            position: relative;
            width: 100%;
            height: 50vh; /*alto deseado*/
            overflow: hidden; /*asegurar que no se salga de los bordes*/
            margin-bottom: 0;
            .banner-img {
                width: 100%; /*banner ocupa todo el ancho*/
                height: auto; /*mantiene la proporción*/
                position: absolute; /*mover la imagen dentro del banner*/
                top: -300px; /*este valor me permite recortar el banner por arriba*/
                left: 50%; /*Centra horizontalmente*/
                transform: translateX(-50%); /*Ajusta el centrado*/
                object-fit: cover; /*Asegura que la imagen se ajuste bien*/
            }
            .imagen-redonda {
                position: absolute; /*permite posicionar la imagen en relación al banner*/
                top: 50%; /*Coloca la imagen en el centro vertical*/
                left: 15%; /* Coloca la imagen a la altura horizontal deseada*/
                transform: translate(-50%, -50%); /* Ajusta la posición para que esté perfectamente centrada */
                width: 300px; /*tamaño de la imagen*/
                height: 300px;
                border-radius: 50%; /*Hace que la imagen sea redonda*/
                object-fit: cover; /*Asegura que la imagen se ajuste bien dentro del contenedor*/
                border: 5px black solid;
            }
        }

    h1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 35px;
        margin-top: 50px;
        margin-bottom: 100px;
        font-family: "Pacifico";
    }
    p {
        display: flex;
        flex-wrap: wrap;
        font-size: 25px;
        text-align: center;
        max-width: 800px; /* Ancho máximo del texto */
        margin: 0 auto; /* Centra el contenedor */
        text-align: center; /* Centra el texto dentro del contenedor */
        line-height: 1.6; /* Espaciado entre líneas */
        font-family: "Comic Neue";
        margin-bottom: 20px;
    }
}

.gridNaruto { 
    display: flex;
    justify-content: center;
    align-items: center;
    .img1 {
        max-width: 300px;
        height: auto;
    }
    .img2 {
        width: 400px;
        max-height: auto;
    }
    .img3 {
        width: 300px;
        max-height: 300px;
    }
}
.gridNaruto {
    display: grid;
    grid-template-columns: 300px 400px 300px
}