/*Responsive banner e img index Naruto*/
@media (max-width: 1650px) {
    .banner-img {
        width: 100%; /*banner ocupa todo el ancho*/
        height: auto; /*mantiene la proporción*/
        position: absolute; /*mover la imagen dentro del banner*/
        top: -170px; /*este valor me permite recortar el banner por arriba*/
        left: 50%; /*Centra horizontalmente*/
        transform: translateX(-50%); /*Ajusta el centrado*/
        object-fit: cover; /*Asegura que la imagen se ajuste bien*/
    }
}
@media (max-width: 1300px) {
    .banner-img {
        width: 100%; /*banner ocupa todo el ancho*/
        height: auto; /*mantiene la proporción*/
        position: absolute; /*mover la imagen dentro del banner*/
        top: -100px; /*este valor me permite recortar el banner por arriba*/
        left: 50%; /*Centra horizontalmente*/
        transform: translateX(-50%); /*Ajusta el centrado*/
        object-fit: cover; /*Asegura que la imagen se ajuste bien*/
    }
}
@media (max-width: 750px) {
    .banner-img {
        width: 100%; /*banner ocupa todo el ancho*/
        height: auto; /*mantiene la proporción*/
        position: absolute; /*mover la imagen dentro del banner*/
        top: -100px; /*este valor me permite recortar el banner por arriba*/
        left: 50%; /*Centra horizontalmente*/
        transform: translateX(-50%); /*Ajusta el centrado*/
        object-fit: cover; /*Asegura que la imagen se ajuste bien*/
    }
}
@media (max-width: 1100px) {
    .imagen-redonda {
        position: relative; /* Cambia a relativo para que se mueva con el flujo del documento */
        top: auto; /* Elimina el desplazamiento vertical */
        left: 50%; /* Mantiene la posición horizontal */
        transform: translate(-50%, 0); /* Centra horizontalmente */
    }
}
@media (max-width: 600px) {
    .imagen-redonda {
        position: relative; /* Cambia a relativo para que se mueva con el flujo del documento */
        top: auto; /* Elimina el desplazamiento vertical */
        left: 50%; /* Mantiene la posición horizontal */
        transform: translate(-50%, 0); /* Centra horizontalmente */
        width: 250px; /*tamaño de la imagen*/
        height: 250px;
    }
}

/*Responsive grilla de Productos*/
@media (max-width:1225px) {
    .productosGrid {
        height: auto;
        grid-template-columns: repeat(2, 400px); // 3 columnas del mismo tamaño
        grid-template-rows: 600px 400px; // 2 filas automáticas
        grid-template-areas: 
        " . imgFun "
        "imgInd imgCua"
        "imgLla imgLla";

        
    }
    .imgCua {
        width: 400px;
        height: 400px;
    }
}

@media (max-width:820px) {
    .productosGrid {
        width: auto;
        height: auto;
        grid-template-columns: repeat(2, 200px); // 3 columnas del mismo tamaño
        grid-template-rows: 600px 400px; // 2 filas automáticas
        grid-template-areas: 
        " . imgFun "
        "imgInd imgCua"
        "imgLla imgLla";
    }

    .imgFun {
        object-fit: cover;
        width: 600;
        height: 600;
        
    }
    .imgLla {
        width: auto;
        height: auto;
        position: relative; /* Cambia a relativo para que se mueva con el flujo del documento */
    }
    .imgProd {
        height: 600px;
        width: auto;
        position: relative; /* Cambia a relativo para que se mueva con el flujo del documento */
    }
}

@media (max-width:420px) {
    .productosGrid {
        width: auto;
        height: auto;
         object-fit: contain; /* Asegura que la imagen no se deforme */
        grid-template-columns: repeat(2, 150px); // 3 columnas del mismo tamaño
        grid-template-rows: 600px 400px; // 2 filas automáticas
        grid-template-areas: 
        " . imgFun "
        "imgInd imgCua"
        "imgLla imgLla";
    }

    .imgLla {
        width: auto;
        height: auto;
    }
    .imgProd {
        height: 600px;
        width: auto;
    }
}
/*Responsive grilla de index Naruto*/
@media (max-width: 1000px) {
    .img2 {
        display: none;
    }
    .gridNaruto {
        display: grid;
        grid-template-columns: 200px 200px;
        grid-template-areas:
        "img1 img3"
    }
    .gridNaruto .img1 {
        max-width: 200px;
        height: auto;
    }
    .gridNaruto .img3 {
        width: 200px;
        max-height: 200px;
    }
}
@media (max-width: 410px) {
    .img2 { 
        display: none;
    }
    .gridNaruto {
        display: grid;
        grid-template-columns: 150px 150px;
    }
    .gridNaruto .img1 {
        max-width: 150px;
        height: 150px;
    }
    .gridNaruto .img3 {
        width: 150px;
        max-height: 150px;
    }
}


/*RESPONSIVO PREGUNTAS FRECUENTES*/
@media (max-width: 1550px) { 
    .faq-container {
        display: flex;
        max-width: 1300px;
        margin: auto;
    }
}
@media (max-width: 1350px) { 
    .faq-container {
        display: flex;
        max-width: 1100px;
        margin: auto;
    }
}
@media (max-width: 1150px) { 
    .faq-container {
        display: flex;
        max-width: 900px;
        margin: auto;
    }
}
@media (max-width: 950px) {
    .faq-container {
      display: flex;
      flex-direction: column;
      align-items: center; 
      justify-content: center; 
      padding: 10px; 
    }
    .faq-preguntas {
      order: 1; 
      margin: 0 auto 20px; 
      max-width: 90%; 
      width: 100%; 
      box-sizing: border-box; 
    }
    .faq-respuestas {
      order: 2; 
    }
    .lista-preguntas {
      width: 100%;  
      max-width: 480px; 
      margin: 0 auto;  
    }
}

/*RESPONSIVO REDES Y CONTACTO*/
@media (max-width: 770px) {
    #mainRedes {
        flex-direction: column; 
        align-items: center; 
    }
    .formulario-contacto {
        width: 100%; 
        max-width: none; 
        margin: 20px 0; 
    }
    .informacion-derecha {
        width: 100%; 
        padding-left: 0; 
    }

    .titulo-redes {
        font-size: 30px; 
        text-align: center;
    }

    .lista-redes {
        margin-top: 20px;
    }

    .lista-redes li {
        flex-direction: column; 
        margin: 20px 0;
        align-items: center; 
    }

    .lista-redes img {
        width: 50px; 
        height: 50px;
        margin-right: 0; 
        margin-bottom: 10px;
    }

    .lista-redes a {
        font-size: 25px; 
        text-align: center; 
    }
    .seccion-contacto {
        margin-left: 0px;
    }
}

@media (max-width: 1200px) {
    .seccion-contacto {
        margin-left: 130px;
    }
}
@media (max-width: 1100px) {
    .seccion-contacto {
        margin-left: 50px;
    }
}
@media (max-width: 770px) {
    .seccion-contacto {
        margin-left: 0px;
    }
}
